<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATS">
        <activity android:name=".InterviewQuestions"></activity>
        <activity android:name=".LabManual" />
        <activity android:name=".Manual" />
        <activity android:name=".Syllabus" />
        <activity android:name=".Assignments" />
        <activity android:name=".Notes" />
        <activity android:name=".Books" />
        <activity android:name=".FeeDetails" />
        <activity android:name=".EditDetails" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationDate" />
        <activity android:name=".Registration" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>